@{
 Layout = "_LayoutCooperative";
}

<div class="mother-grid" style="padding-bottom: 1000px">
    <div class="container">
        <div class="temp-padd">
            <div class="top-strip">
                <div class="address">
                    <ul>
                        <li><a href="#"><span class="link"> </span>www.Матвеев.com</a></li>
                        <li><a href="mailto:example@email.com"><span class="mes"> </span>info@sitename.com</a></li>
                        <li><span class="ph"> </span>+7 777 77 77</li>
                    </ul>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a href="#"> <span class="w-f"> </span></a></li>
                        <li><a href="#"> <span class="w-tw"> </span></a></li>
                        <li><a href="#"> <span class="w-in"> </span></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="title-main">
                <a><h1>Новым сотрудникам</h1></a>


            </div>
            <div class="header">
                @Html.Partial("~/Views/Menu/CooperativeMenu.cshtml")
                <div class="clearfix"> </div>
            </div>

            <div class="nuncdig" style="padding: 30px 0 50px 0">
                Телефон менеджера по персоналу: +7 777 77 77<br /><br />
                Телефон бухгалтерии: + 3 333 33 33<br /><br />
                Телфон для пропусков: +2 222 22 22<br /><br />
                <a download href="~/Content/Books/ustav_6.pdf">Устав</a><br /><br />

            </div>
        </div>
    </div>
</div>