@model CooperativeModel

@{
    Layout = "_LayoutCooperative";
}
<div class="mother-grid">
    <div class="container">
        <div class="temp-padd">
            <div class="top-strip">
                <div class="address">
                    <ul>
                        <li><a href="#"><span class="link"> </span>www.Матвеев.com</a></li>
                        <li><a href="mailto:example@email.com"><span class="mes"> </span>инфо@sitename.com</a></li>
                        <li><span class="ph"> </span>8888 8888</li>
                    </ul>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a href="#"> <span class="w-f"> </span></a></li>
                        <li><a href="#"> <span class="w-tw"> </span></a></li>
                        <li><a href="#"> <span class="w-in"> </span></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="title-main">
                <a ><h1>Test</h1></a>

            </div>
            <div class="header">
                @Html.Partial("~/Views/Menu/CooperativeMenu.cshtml")
                
                @*<div class="search">
                    <input type="text" value="Site search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Site search';}" />
                    <input type="submit" value="" />
                </div>*@
                <div class="clearfix"> </div>
            </div>
            <div class="banner">
                <img src="~/Content/images/cooperativeImg/logo.png" alt="" />
                <h3>текст</h3>
                <h2>текст</h2>
                <div class="banner-button">
                    <a href="#">More info</a>
                </div>
            </div>
            <div class="nuncdig">
                <div class="nuncdig-main">
                    <div class="nunc-top">
                        <h3>текст</h3>
                        <p>текст</p>
                    </div>
                    <div class="nunc-bott">
                        <div class="col-md-4 nunc-bott-grid">
                            <div class="headind-text">
                                <h3>текст</h3>
                                <h4>текст</h4>
                            </div>
                            <p>текст</p>
                            <div class="nunc-bwn">
                                <a href="#">Более</a>
                            </div>
                        </div>
                        <div class="col-md-4 nunc-bott-grid">
                            <div class="headind-text">
                                <h3>текст</h3>
                                <h4>текст</h4>
                            </div>
                            <p>текст</p>
                            <div class="nunc-bwn">
                                <a href="#">Более</a>
                            </div>
                        </div>
                        <div class="col-md-4 nunc-bott-grid">
                            <div class="headind-text">
                                <h3>текст</h3>
                                <h4>текст</h4>
                            </div>
                            <p>текст</p>
                            <div class="nunc-bwn">
                                <a href="#">Более</a>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <script src="@Url.Content("~/js/CooperativeJs/responsiveslides.min.js")" type="text/javascript"></script>
            <script type="text/javascript">
                (function () {
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });</script>
            <div class="clearfix"> </div>
            <div class="info-grid">
                <div class="info-grid-main">
                    <div class="col-md-6 info-grid-left">
                        <div class="info-left-top">
                            <div class="info-heading">
                                <h3>текст</h3>
                                <p>текст</p>
                            </div>
                            <div class="info-para">
                                <p>текст </p>
                                <div class="info-bwn">
                                    <a href="#">Более</a>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="info-left-bottom">
                            <div class="info-heading">
                                <h3>текст</h3>
                                <p>тексттексттексттексттекст</p>
                            </div>
                            <div class="info-para">
                                <p>тексттекст </p>
                                <div class="info-bwn">
                                    <a href="#">Более</a>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 info-grid-right">
                        <div class="menu_vertical">
                            <section class="accordation_menu">
                                <div>
                                    <input id="label-1" name="lida" type="radio" checked />
                                    <label for="label-1" id="item1"><i class="ferme"> </i><span class="m_5">текст</span><i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                                    <div class="content1" id="a1">
                                        <ul class="news_list">
                                            <li class="sml-img"> </li>
                                            <li class="date_desc">
                                                <h3>текст</h3>
                                                <p>текст</p>
                                            </li>
                                            <div class="clearfix"> </div>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <input id="label-2" name="lida" type="radio" />
                                    <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>текст<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                                    <div class="content1" id="a2">
                                        <ul class="news_list">
                                            <li class="sml-img"> </li>
                                            <li class="date_desc">
                                                <h3>текст</h3>
                                                <p>текст</p>
                                            </li>
                                            <div class="clearfix"> </div>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <input id="label-3" name="lida" type="radio" />
                                    <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i>текст<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                                    <div class="content1" id="a3">
                                        <ul class="news_list">
                                            <li class="sml-img"> </li>
                                            <li class="date_desc">
                                                <h3>текст</h3>
                                                <p>
                                                    текст
                                                </p>
                                            </li>
                                            <div class="clearfix"> </div>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <input id="label-4" name="lida" type="radio" />
                                    <label for="label-4" id="item4"><i class="icon-trophy" id="i4"></i>текст<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                                    <div class="content1" id="a4">
                                        <ul class="news_list">
                                            <li class="sml-img"> </li>
                                            <li class="date_desc">
                                                <h3>текст</h3>
                                                <p>
                                                    текст
                                                </p>
                                            </li>
                                            <div class="clearfix"> </div>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-main">
                <div class="footer-top">
                    <div class="col-md-4 footer-grid">
                        <img src="~/Content/images/cooperativeImg/ftr-fa.png" alt="" />
                        <a href="#"><h3>текст</h3></a>
                        <p>текст</p>
                        <h4>текст</h4>
                    </div>
                    <div class="col-md-4 footer-grid">
                        <img src="~/Content/images/cooperativeImg/tw.png" alt="" />
                        <a href="#"><h3>текст</h3></a>
                        <p>текст</p>
                        <h4>текст</h4>
                    </div>
                    <div class="col-md-4 footer-grid">
                        <img src="~/Content/images/cooperativeImg/drib.png" alt="" />
                        <a href="#"><h3>текст</h3></a>
                        <p>текст</p>
                        <h4>текст</h4>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer-bottom">
                    <p>Матвеев текст <a href="https://w3layouts.com/">текст </a></p>
                </div>
            </div>
        </div>
    </div>
</div>
