@model WebHard.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
    Layout = "_LayoutCooperative";
}

    <div class="mother-grid" style="padding-bottom: 1000px">
        <div class="container">
            <div class="temp-padd" style="padding:100px 0 50px 0;">
                <div class="top-strip">
                    <div class="address">
                        <ul>
                            <li><a href="#"><span class="link"> </span>www.sitename.com</a></li>
                            <li><a href="mailto:example@email.com"><span class="mes"> </span>info@sitename.com</a></li>
                            <li><span class="ph"> </span>8888 8888</li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"> <span class="w-f"> </span></a></li>
                            <li><a href="#"> <span class="w-tw"> </span></a></li>
                            <li><a href="#"> <span class="w-in"> </span></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>



                <h2 style="padding:50px 0 0 20px">Изменение пароля для пользователя @Model.Email</h2>
                <form style="padding-left:20px" asp-action="ChangePassword" asp-controller="Users">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Email" />

                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                        <input type="text" asp-for="NewPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Сохранить" class="btn btn-outline-dark" />
                    </div>
                </form>



            </div>
        </div>
    </div>