
<div class="navg">
    <span class="menu"> <img src="~/Content/images/cooperativeImg/icon.png" alt="" /></span>
    <ul class="res">
        <li><a class="active">@Html.ActionLink("Главная страница", "Index", "Cooperative")</a></li>
        <li><a href="services.html">Новичкам</a></li>
        <li><a href="services.html">Электронная библиотека</a></li>
        <li><a>@Html.ActionLink("Кадровый раздел", "Manpower", "Cooperative")</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="project.html">Projects</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
    <script type="text/javascript">
        $("span.menu").click(function () {
            $("ul.res").slideToggle("slow", function () {
            });
        });</script>
</div>
