@model VisitingModel
@{
    ViewData["Title"] = "HomePage";
    Layout = "_LayoutVisiting";
}

        <div class="wrapper style1">

            <div id="header" class="skel-panels-fixed">
                <div id="logo">
                    <h1><a asp-controller="RuralHoliday" asp-action="Index">Здоровый отдых</a></h1>
                    <span class="tag">by X Банк</span>
                </div>
                <nav id="nav">
                    <ul>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li style="padding: 0 0 0 0;">
                                @User.Identity.Name
                            </li>
                            <li style="padding: 0 0 0 0;">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input style="font-size:80%;" type="submit" value="Выход" />
                                </form>
                            </li>

                            <li><a>@Html.ActionLink("Кооперативный сайт", "Index", "Cooperative")</a></li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Account" asp-action="Login">Вход для сотрудников компании</a>
                                @*<a asp-controller="Account" asp-action="Register">Регистрация</a>*@
                            </li>
                        }

                        <li><a asp-controller="RuralHoliday" asp-action="Contacts">Контакты</a></li>
                    </ul>
                </nav>
            </div>

            <div id="banner" class="container">
                <section style="color: white">
                    <p>Приветствуем Вас на сайте нашей компании сельского туризма <strong>"Здоровый отдых"</strong></p>
                    <p>Для просмотра информации о нашей компании можете здесь:</p>
                    <a class="button medium" asp-controller="RuralHoliday" asp-action="InformationOfCompany">Просмотреть</a>
                    <p>А так же ознакомьтесь с нашими услугами</p>
                </section>
            </div>

            <!-- Extra -->
            <div id="extra">
                <div class="container">
                    <div class="row no-collapse-1">
                        <section class="4u">
                            <a href="#" class="image featured"><img src="~/Content/images/visitingImg/pic01.jpg" alt=""></a>
                            <div class="box">
                                <p>Избы, пруд, места для жилья и отдыха!</p>
                                <a class="button" asp-controller="RuralHoliday" asp-action="RuralHolidayOne">Просмотреть</a>
                            </div>
                        </section>
                        <section class="4u">
                            <a href="#" class="image featured"><img height="244" src="~/Content/images/visitingImg/pic02.jpg" alt=""></a>
                            <div class="box">
                                <p>У нас уникальная возможность заняться кузнечным и декоративным делом!</p>
                                <a asp-controller="RuralHoliday" asp-action="RuralHolidayTwo" class="button">Просмотреть</a>
                            </div>
                        </section>
                        <section class="4u">
                            <a href="#" class="image featured"><img src="~/Content/images/visitingImg/pic03.jpg" alt=""></a>
                            <div class="box">
                                <p>Баня поможет вам расслабить тело и укрепить дух! А коптильная наполнена изысканным деликатесом!</p>
                                <a asp-controller="RuralHoliday" asp-action="RuralHolidayThree" class="button">Просмотреть</a>
                            </div>
                        </section>
                    </div>
                    <div class="row no-collapse-1">
                        <section class="4u">
                            <a href="#" class="image featured"><img src="~/Content/images/visitingImg/pic04.jpg" alt=""></a>
                            <div class="box">
                                <p>Посетите наш музей посвященный древней Руси!</p>
                                <a asp-controller="RuralHoliday" asp-action="RuralHolidayFour" class="button">Просмотреть</a>
                            </div>
                        </section>
                        <section class="4u">
                            <a href="#" class="image featured"><img src="~/Content/images/visitingImg/pic05.jpg" alt=""></a>
                            <div class="box">
                                <p>Приглашаем на празднование, посвященное 23 февраля! Будут организованы стрельбища и многое другое!</p>
                                <a asp-controller="RuralHoliday" asp-action="RuralHolidayFive" class="button">Просмотреть</a>
                            </div>
                        </section>
                        <section class="4u">
                            <a href="#" class="image featured"><img src="~/Content/images/visitingImg/pic06.jpg" alt=""></a>
                            <div class="box">
                                <p>Зоопарк с чудными зверушками!</p>
                                <a asp-controller="RuralHoliday" asp-action="RuralHolidaySix" class="button">Просмотреть</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div id="main">
                <div class="container">
                    <div class="row">

                        <div class="6u">
                            <section>
                                <ul class="style">
                                    <li class="fa fa-wrench">
                                        <h3>Персонал</h3>
                                        <span>В нашей компании работают наилучшие профессионалы</span>
                                    </li>
                                    <li class="fa fa-leaf">
                                        <h3>Экологичность</h3>
                                        <span>Чистая природа даст вам все необходимое</span>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="6u">
                            <section>
                                <ul class="style">
                                    <li class="fa fa-cogs">
                                        <h3>Современность</h3>
                                        <span>Современный и технологичный подход к природе и людям</span>
                                    </li>
                                    <li class="fa fa-road">
                                        <h3>Расположение</h3>
                                        <span>Наша компания находится 300 км от МКАД</span>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="footer" class="wrapper style2">
            <div class="container">
                <section>
                    <header class="major">
                        <h2>Напишите нам письмо</h2>
                        <span class="byline">Мы ответим Вам на любой вопрос и зарегистрируем!</span>
                    </header>
                    <form method="post" action="#">
                        <div class="row half">
                            <div class="12u">
                                <input class="text" type="text" name="name" id="name" placeholder="Имя" />
                            </div>
                        </div>
                        <div class="row half">
                            <div class="12u">
                                <input class="text" type="text" name="email" id="email" placeholder="Ваша почта" />
                            </div>
                        </div>
                        <div class="row half">
                            <div class="12u">
                                <textarea name="message" id="message" placeholder="Сообщение"></textarea>
                            </div>
                        </div>
                        <div class="row half">
                            <div class="12u">
                                <ul class="actions">
                                    <li>
                                        <input type="submit" value="Отправить сообщение" class="button alt" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <div id="copyright">
            <div class="container">
                <div class="copyright">
                    <p>Подпишись на нас</p>
                    <ul class="icons">
                        <li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
                        <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
                        <li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
