
@{
    ViewData["Title"] = "RuralHolidayFive";
    Layout = "_LayoutVisiting";
}

<link href="@Url.Content("~/css/SlideShowCss.css")" rel="stylesheet" type="text/css" />

<div class="wrapper style1">
    <div id="header" class="skel-panels-fixed">
        <div id="logo">
            <h1><a asp-controller="RuralHoliday" asp-action="Index">Здоровый отдых</a></h1>
            <span class="tag">by X Банк</span>
        </div>
        <nav id="nav">
            <ul>
                <li><a asp-controller="RuralHoliday" asp-action="Index">На главную страницу</a></li>
                <li><a asp-controller="RuralHoliday" asp-action="Contacts">Контакты</a></li>
            </ul>
        </nav>
    </div>
    <div id="page" class="container">
        <div class="row">

            <div id="sidebar" class="4u">
                <section>
                    <header class="major">
                        <h2>Меню сайта</h2>
                    </header>
                    <div class="row half">
                        <section class="6u">
                            <ul class="default">
                                <li><a>стр1</a></li>
                                <li><a>стр2</a></li>
                                <li><a>стр3</a></li>
                                <li><a>стр4</a></li>
                                <li><a>стр5</a></li>
                            </ul>
                        </section>
                        <section class="6u">
                            <ul class="default small">
                                <li><a>стр6</a></li>
                                <li><a>контакты</a></li>
                                <li><a>о нас</a></li>
                            </ul>
                        </section>
                    </div>
                </section>
                @*<section>
                        <header class="major">
                            <h2></h2>
                        </header>
                        <ul class="default">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </section>*@
            </div>

            <div id="content" class="8u skel-cell-important">

                <section>
                    <header class="major">
                        <h2>Приезжайте на праздник 23 февраля</h2>
                        <span class="byline"></span>
                    </header>
                    <div class="slideshow-container">
                        <div class="mySlides fade">
                            <div class="numbertext">1 / 6</div>
                            <img src="~/Content/images/visitingImg/holidays/o1.jpg" style="width:100%">
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">2 / 6</div>
                            <img src="~/Content/images/visitingImg/holidays/o2.jpg" style="width:100%">
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">3 / 6</div>
                            <img src="~/Content/images/visitingImg/holidays/o3.jpg" style="width:100%">
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">4 / 6</div>
                            <img src="~/Content/images/visitingImg/holidays/o4.jpg" style="width:100%">
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">5 / 6</div>
                            <img src="~/Content/images/visitingImg/holidays/o5.jpg" style="width:100%">
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">6 / 6</div>
                            <img src="~/Content/images/visitingImg/holidays/o6.jpg" style="width:100%">
                        </div>

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <br>
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span>
                        <span class="dot" onclick="currentSlide(5)"></span>
                        <span class="dot" onclick="currentSlide(6)"></span>
                    </div>

                </section>
            </div>

        </div>
    </div>

</div>

<div id="copyright">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
            <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
            <li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }


        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
</script>