@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    Layout = "_LayoutCooperative";
}

<div class="mother-grid" style="padding-bottom: 1000px">
    <div class="container">
        <div class="temp-padd" style="padding:100px 20px 50px 20px;">
            <div class="top-strip">
                <div class="address">
                    <ul>
                        <li><a href="#"><span class="link"> </span>www.sitename.com</a></li>
                        <li><a href="mailto:example@email.com"><span class="mes"> </span>info@sitename.com</a></li>
                        <li><span class="ph"> </span>8888 8888</li>
                    </ul>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a href="#"> <span class="w-f"> </span></a></li>
                        <li><a href="#"> <span class="w-tw"> </span></a></li>
                        <li><a href="#"> <span class="w-in"> </span></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header">
                @Html.Partial("~/Views/Menu/CooperativeMenu.cshtml")
                <div class="clearfix"> </div>
            </div>


            <h2 style="padding:50px 0 0 20px">Список ролей</h2>
            <table style="padding-left:20px" class="table">
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <a asp-action="Create">Добавить роль</a>
            <a asp-action="UserList">Список пользователей</a>
        </div>
    </div>
</div>